*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #edeeed;
}
.drops{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drop{
  position: absolute;
  width: 150px;
  height: 150px;
  background:transparent;
  border-radius: 47% 53% 49% 51% / 23% 16% 84% 77% ;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
}